<g:each var="c" in="${grailsApplication.controllerClasses.findAll {it.fullName.startsWith("com.youniversity")} }">
<p class="title"><g:link controller="${c.logicalPropertyName}">${c.name}</g:link></p>
</g:each>