
<%@ page import="com.youniversity.core.app.FavouriteApp" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'favouriteApp.label', default: 'FavouriteApp')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-favouriteApp" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-favouriteApp" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<th><g:message code="favouriteApp.application.label" default="Application" /></th>
					
						<g:sortableColumn property="widget" title="${message(code: 'favouriteApp.widget.label', default: 'Widget')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${favouriteAppInstanceList}" status="i" var="favouriteAppInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${favouriteAppInstance.id}">${fieldValue(bean: favouriteAppInstance, field: "application")}</g:link></td>
					
						<td><g:formatBoolean boolean="${favouriteAppInstance.widget}" /></td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${favouriteAppInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
