
<%@ page import="com.youniversity.core.app.FavouriteApp" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'favouriteApp.label', default: 'FavouriteApp')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-favouriteApp" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-favouriteApp" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list favouriteApp">
			
				<g:if test="${favouriteAppInstance?.application}">
				<li class="fieldcontain">
					<span id="application-label" class="property-label"><g:message code="favouriteApp.application.label" default="Application" /></span>
					
						<span class="property-value" aria-labelledby="application-label"><g:link controller="application" action="show" id="${favouriteAppInstance?.application?.id}">${favouriteAppInstance?.application?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
				<g:if test="${favouriteAppInstance?.users}">
				<li class="fieldcontain">
					<span id="users-label" class="property-label"><g:message code="favouriteApp.users.label" default="Users" /></span>
					
						<g:each in="${favouriteAppInstance.users}" var="u">
						<span class="property-value" aria-labelledby="users-label"><g:link controller="user" action="show" id="${u.id}">${u?.encodeAsHTML()}</g:link></span>
						</g:each>
					
				</li>
				</g:if>
			
				<g:if test="${favouriteAppInstance?.widget}">
				<li class="fieldcontain">
					<span id="widget-label" class="property-label"><g:message code="favouriteApp.widget.label" default="Widget" /></span>
					
						<span class="property-value" aria-labelledby="widget-label"><g:formatBoolean boolean="${favouriteAppInstance?.widget}" /></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:favouriteAppInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${favouriteAppInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
